# iot.ingress.yaml
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: "iot"
  name: "iot-ingress"
spec:
  rules:
    - host: "mosquitto.{{ nginx_ingress_conroller.min }}.nip.io"
      http:
        paths:
          - path: /
            backend:
              serviceName: mosquitto
              servicePort: mqtt
          - path: "/ws"
            backend:
              serviceName: mosquitto
              servicePort: websocket
    - host: "nodered.{{ nginx_ingress_conroller.min }}.nip.io"
      http:
        paths:
          - path: /
            backend:
              serviceName: nodered
              servicePort: 80
