---
# Services
apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: iot
  labels:
    app: mosquitto
    release: mosquitto
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ MOSQUITTO_IP }}"
  ports:
    - name: mqtt
      port: 1883
      targetPort: 1883
      protocol: TCP
    - name: websocket
      port: 5001
      targetPort: 5001
      protocol: TCP
  selector:
    app: mosquitto

---
# Deployement
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  labels:
    app: mosquitto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      containers:
        - name: mosquitto
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          image: "{{ MOSQUITTO_VERSION }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: mqtt
              containerPort: 1883
              protocol: TCP
            - name: websocket
              containerPort: 5001
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: "iot-config"
              mountPath: "/mosquitto/config"
              subPath: "mosquitto"
            - name: "iot-data"
              mountPath: "/mosquitto/data"
              subPath: "mosquitto"
      restartPolicy: Always
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      serviceAccountName: ""
      volumes:
        - name: "iot-config"
          persistentVolumeClaim:
            claimName: "iot-config"
        - name: "iot-data"
          persistentVolumeClaim:
            claimName: "iot-data"
status: {}
