---
# Services
apiVersion: v1
kind: Service
metadata:
  name: nodered
  namespace: iot
  labels:
    app: nodered
    release: nodered
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ NODERED_IP }}"
  ports:
    - name: nodered
      port: 80
      targetPort: 1880
      protocol: TCP
  selector:
    app: nodered

---
# Deployement
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodered
  labels:
    app: nodered
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodered
  template:
    metadata:
      labels:
        app: nodered
    spec:
      containers:
        - name: nodered
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          image: "{{ NODERED_VERSION }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: nodered
              containerPort: 1880
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: "iot-data"
              mountPath: "/data"
              subPath: "nodered"
      restartPolicy: Always
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      serviceAccountName: ""
      volumes:
        - name: "iot-data"
          persistentVolumeClaim:
            claimName: "iot-data"
status: {}
