# persistentvolume.yml
---
# IoT config
apiVersion: v1
kind: PersistentVolume
metadata:
  name: iot-config
  labels:
    type: local
spec:
  storageClassName: "manual"
  capacity:
    storage: "{{ IOT_CONFIG_STORAGE_SIZE }}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ IOT_CONFIG_STORAGE_PATH }}"

---
# IoT data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: iot-data
  labels:
    type: local
spec:
  storageClassName: "manual"
  capacity:
    storage: "{{ IOT_DATA_STORAGE_SIZE }}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ IOT_DATA_STORAGE_PATH }}"
