# persistentvolumeclaim.yml
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "iot"
  name: "iot-config"
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ IOT_CONFIG_STORAGE_SIZE }}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "iot"
  name: "iot-data"
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ IOT_DATA_STORAGE_SIZE }}"
