## media.sonarr.values.yml
replicaCount: 1

image:
  repository: linuxserver/sonarr
  tag: {{ SONARR_VERSION }} # ARM image

  pullPolicy: IfNotPresent

env:
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"

service:
  type: LoadBalancer
  loadBalancerIP: "{{ SONARR_IP }}"
  port: 80

volumes:
  - name: "apps-config"
    persistentVolumeClaim:
      claimName: "apps-config"
  - name: "apps-data"
    persistentVolumeClaim:
      claimName: "apps-data"
  - name: "media-data"
    persistentVolumeClaim:
      claimName: "media-data"

volumeMounts:
  - name: apps-config
    mountPath: "/config"
    subPath: "sonarr" # Path {{ media_center_config_storage_path }}/sonarr -> sonarr configuration
  - name: apps-data
    mountPath: "/downloads"
    subPath: "downloads" # Path {{ media_center_apps_data_storage_path }}/downloads -> sonarr picks up downloaded episodes by transmission
  - name: media-data
    mountPath: "/tv"
    subPath: "library/tv" # Path {{ media_center_media_storage_path }}/library/tv -> sonarr moves and renames the episodes
