# media.persistentvolume.yml
---
# Media data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-data
spec:
  storageClassName: manual
  capacity:
    storage: "{{ media_center_media_storage_size }}"
  persistentVolumeReclaimPolicy: Retain
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.129
    path: "{{ media_center_media_storage_path }}"

---
# Apps config
apiVersion: v1
kind: PersistentVolume
metadata:
  name: apps-config
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ media_center_config_storage_size }}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ media_center_config_storage_path }}"

---
# Apps data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: apps-data
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ media_center_apps_data_storage_size }}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ media_center_apps_data_storage_path }}"
