---
# Service
apiVersion: v1
kind: Service
metadata:
  labels:
    app: joal
    release: joal
  name: joal
  namespace: media
spec:
  ports:
    - name: default
      port: 80
      protocol: TCP
      targetPort: 1234
  selector:
    app: joal
    release: joal
  sessionAffinity: None
  type: LoadBalancer
  loadBalancerIP: "{{ JOAL_IP }}"
status:
  loadBalancer: {}

---
# deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: joal
  name: joal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: joal
      release: joal
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: joal
        release: joal
    spec:
      containers:
        - name: joal
          args: ["--joal-conf=/data", "--spring.main.web-environment=true", "--server.port=1234", "--joal.ui.path.prefix=joal", "--joal.ui.secret-token=123456789"]
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            # https://github.com/anthonyraymond/joal/wiki/Redirect-log-to-file
            - name: JAVA_OPTS
              value: "-Dlog4j.configurationFile=file:/data/log4j2.xml -DlogFilename=joalLog"
          image: anthonyraymond/joal:2.1.24-arm
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 1234
              name: default
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: tz-paris
              mountPath: /etc/localtime
            - name: joal-data
              mountPath: /data
              subPath: joal
      restartPolicy: Always
      serviceAccountName: ""
      volumes:
        - name: tz-paris
          hostPath:
            path: /usr/share/zoneinfo/Europe/Paris
        - name: joal-data
          persistentVolumeClaim:
            claimName: apps-config
status: {}
