---
# Service
apiVersion: v1
kind: Service
metadata:
  labels:
    app: lidarr
    release: lidarr
  name: lidarr
  namespace: media
spec:
  ports:
    - name: default
      port: 80
      protocol: TCP
      targetPort: 8686
  selector:
    app: lidarr
    release: lidarr
  sessionAffinity: None
  type: LoadBalancer
  loadBalancerIP: "{{ LIDARR_IP }}"
status:
  loadBalancer: {}

---
# deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: lidarr
  name: lidarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lidarr
      release: lidarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lidarr
        release: lidarr
    spec:
      containers:
        - name: lidarr
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Paris"
          image: linuxserver/lidarr:{{ LIDARR_VERSION }}
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8686
              name: default
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: apps-config
              mountPath: "/config"
              subPath: "lidarr" # Path {{ media_center_config_storage_path }}/lidarr -> lidarr configuration
            - name: apps-data
              mountPath: "/downloads"
              subPath: "downloads" # Path {{ media_center_apps_data_storage_path }}/downloads -> lidarr picks up downloaded episodes by transmission
            - name: media-data
              mountPath: "/music"
              subPath: "library/music" # Path {{ media_center_media_storage_path }}/library/music -> lidarr moves and renames the movies

      restartPolicy: Always
      serviceAccountName: ""
      volumes:
        - name: "apps-config"
          persistentVolumeClaim:
            claimName: "apps-config"
        - name: "apps-data"
          persistentVolumeClaim:
            claimName: "apps-data"
        - name: "media-data"
          persistentVolumeClaim:
            claimName: "media-data"
status: {}
