# media.plex.values.yml

claimToken: {{ PLEX_CLAIM_TOKEN }}

image:
  repository: linuxserver/plex
  tag: {{ PLEX_VERSION }}
  pullPolicy: IfNotPresent

env:
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"

kubePlex:
  enabled: false # kubePlex (transcoder job) is disabled because not available on ARM. The transcoding will be performed by the main Plex instance instead of a separate Job.

timezone: {{ timezone }}

service:
  type: LoadBalancer
  loadBalancerIP: "{{ PLEX_IP }}"
  port: 32400 # Port to expose Plex

rbac:
  create: true

nodeSelector:
  beta.kubernetes.io/arch:

persistence:
  transcode:
    claimName: "apps-data"
    subPath: "kube-plex/transcode" # Path {{ media_center_apps_data_storage_path }}/kube-plex/transcode -> plex transcode
  data:
    claimName: "media-data"
    subPath: "library" # Path {{ media_center_media_storage_path }}/library -> plex data
  config:
    claimName: "apps-config"
    subPath: "kube-plex" # Path {{ media_center_config_storage_path }}/kube-plex -> plex config

resources: {}
podAnnotations: {}
proxy:
  enable: false
