# media.jackett.values.yml
replicaCount: 1

image:
  repository: "linuxserver/jackett" # Special image to use Jackett over a VPN
  tag: "{{ JACKETT_VERSION }}"
  pullPolicy: IfNotPresent

env:
# Specific to gjeanmart/jackettvpn version
#  - name: VPN_ENABLED
#    value: "no" # Enable Jackett over VPN
#  - name: VPN_USERNAME
#    valueFrom:
#      secretKeyRef: # Reference to the secret | openvpn.username
#        name: "openvpn"
#        key: "username"
#  - name: VPN_PASSWORD
#    valueFrom:
#      secretKeyRef: # Reference to the secret | openvpn.password
#        name: "openvpn"
#        key: "password"
#  - name: LAN_NETWORK
#    value: "192.168.0.0/24"
#  - name: CREATE_TUN_DEVICE
#    value: "true" # Needed for VPN
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"
  - name: TZ
    value: "Europe/London"
  - name: AUTO_UPDATE
    value: "false"

service:
  type: LoadBalancer
  loadBalancerIP: "{{ JACKETT_IP }}"
  port: 80

volumes:
  - name: "apps-config"
    persistentVolumeClaim:
      claimName: "apps-config"
  - name: "apps-data"
    persistentVolumeClaim:
      claimName: "apps-data"
  - name: "dev-tun"  # Needed for VPN
    hostPath:
      path: "/dev/net/tun"

volumeMounts:
  - name: "apps-config"
    mountPath: "/config"
    subPath: "jackett" # Path {{ media_center_config_storage_path }}/jackett where jackett writes the configuration
  - name: "apps-data"
    mountPath: "/downloads"
    subPath: "transmission/watch" # Path {{ media_center_apps_data_storage_path }}/transmission/watch -> transmission watch dir

#securityContext:
#  capabilities: # Needed for VPN
#    add:
#      - NET_ADMIN
