---
# Service
apiVersion: v1
kind: Service
metadata:
  labels:
    app: flaresolverr
    release: flaresolverr
  name: flaresolverr
  namespace: media
spec:
  ports:
    - name: default
      port: 8191
      protocol: TCP
      targetPort: 8191
  selector:
    app: flaresolverr
    release: flaresolverr
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: flaresolverr
  name: flaresolverr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaresolverr
      release: flaresolverr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: flaresolverr
        release: flaresolverr
    spec:
      containers:
        - name: flaresolverr
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
#            - name: LOG_LEVEL
#              value: "debug"
          image: "flaresolverr/flaresolverr:{{ FLARESOLVERR_VERSION }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8191
              name: default
              protocol: TCP
          resources: {}
      restartPolicy: Always
      serviceAccountName: ""
status: {}
