---
# Service
apiVersion: v1
kind: Service
metadata:
  labels:
    app: readarr
    release: readarr
  name: readarr
  namespace: media
spec:
  ports:
    - name: default
      port: 80
      protocol: TCP
      targetPort: 8787
  selector:
    app: readarr
    release: readarr
  sessionAffinity: None
  type: LoadBalancer
  loadBalancerIP: "{{ READARR_IP }}"
status:
  loadBalancer: {}

---
# deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: readarr
  name: readarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: readarr
      release: readarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: readarr
        release: readarr
    spec:
      containers:
        - name: readarr
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Paris"
          image: hotio/readarr:{{ READARR_VERSION }}
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8787
              name: default
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: apps-config
              mountPath: "/config"
              subPath: "readarr" # Path {{ media_center_config_storage_path }}/readarr -> readarr configuration
            - name: apps-data
              mountPath: "/downloads"
              subPath: "downloads" # Path {{ media_center_apps_data_storage_path }}/downloads -> readarr picks up downloaded episodes by transmission
            - name: media-data
              mountPath: "/books"
              subPath: "library/books" # Path {{ media_center_media_storage_path }}/library/books -> readarr moves and renames the movies
            - name: media-data
              mountPath: "/audiobooks"
              subPath: "library/audiobooks" # Path {{ media_center_media_storage_path }}/library/audiobooks -> readarr moves and renames the movies

      restartPolicy: Always
      serviceAccountName: ""
      volumes:
        - name: "apps-config"
          persistentVolumeClaim:
            claimName: "apps-config"
        - name: "apps-data"
          persistentVolumeClaim:
            claimName: "apps-data"
        - name: "media-data"
          persistentVolumeClaim:
            claimName: "media-data"
status: {}
