# media.persistentvolumeclaim.yml
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: media
  name: media-data
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ media_center_media_storage_size }}"
  volumeName: "media-data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: media
  name: apps-config
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ media_center_config_storage_size }}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: media
  name: apps-data
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ media_center_apps_data_storage_size }}"
