# media.radarr.values.yml
replicaCount: 1

image:
  repository: linuxserver/radarr
  tag: {{ RADARR_VERSION }} # ARM image
  pullPolicy: IfNotPresent

env:
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"

service:
  type: LoadBalancer
  loadBalancerIP: "{{ RADARR_IP }}"
  port: 80

volumes:
  - name: "apps-config"
    persistentVolumeClaim:
      claimName: "apps-config"
  - name: "apps-data"
    persistentVolumeClaim:
      claimName: "apps-data"
  - name: "media-data"
    persistentVolumeClaim:
      claimName: "media-data"

volumeMounts:
  - name: apps-config
    mountPath: "/config"
    subPath: "radarr" # Path {{ media_center_config_storage_path }}/radarr -> radarr configuration
  - name: apps-data
    mountPath: "/downloads"
    subPath: "downloads" # Path {{ media_center_apps_data_storage_path }}/downloads -> radarr picks up downloaded episodes by transmission
  - name: media-data
    mountPath: "/movies"
    subPath: "library/movies" # Path {{ media_center_media_storage_path }}/library/movies -> radarr moves and renames the movies
