# media.transmission-openvpn.values.yml
replicaCount: 1

image:
  repository: "haugene/transmission-openvpn"
  tag: "{{ TRANSMISSION_VERSION }}" # Suffixed by -armhf to pull the ARM image
  pullPolicy: "IfNotPresent"

env:
  - name: OPENVPN_PROVIDER
    value: "{{ VPN_PROVIDER }}" # VPN provider. List of supported providers: https://haugene.github.io/docker-transmission-openvpn/supported-providers/
  - name: OPENVPN_CONFIG
    value: "{{ VPN_CONFIG }}"
  - name: OPENVPN_USERNAME
    valueFrom: # Reference to the secret | openvpn.username
      secretKeyRef:
        name: "openvpn"
        key: "username"
  - name: OPENVPN_PASSWORD
    valueFrom: # Reference to the secret | openvpn.password
      secretKeyRef:
        name: "openvpn"
        key: "password"
  - name: LOCAL_NETWORK
    value: "192.168.0.0/16"
  - name: TRANSMISSION_PEER_PORT
    value: "47444"
  - name: TRANSMISSION_DOWNLOAD_DIR
    value: "/downloads"
  - name: TRANSMISSION_INCOMPLETE_DIR
    value: "/transmission/incomplete"
  - name: TRANSMISSION_WATCH_DIR
    value: "/transmission/watch"
  - name: TRANSMISSION_WATCH_DIR_FORCE_GENERIC
    value: "true"
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"


service:
  type: LoadBalancer
  loadBalancerIP: "{{ TRANSMISSION_IP }}"
  port: 80

volumes:
  - name: "apps-config"
    persistentVolumeClaim:
      claimName: "apps-config"
  - name: "apps-data"
    persistentVolumeClaim:
      claimName: "apps-data"
  - name: "dev-tun" # Needed for VPN
    hostPath:
      path: "/dev/net/tun"

volumeMounts:
  - name: "apps-config"
    mountPath: "/data"
    subPath: "./" # Path {{ media_center_config_storage_path }} -> transmission configuration
  - name: "apps-data"
    mountPath: "/transmission/incomplete"
    subPath: "transmission/incomplete" # Path {{ media_center_apps_data_storage_path }}/transmission/incomplete -> transmission incomplete downloads
  - name: "apps-data"
    mountPath: "/transmission/watch"
    subPath: "transmission/watch" # Path {{ media_center_apps_data_storage_path }}/transmission/watch -> transmission watch dir
  - name: "apps-data"
    mountPath: "/downloads"
    subPath: "downloads" # Path {{ media_center_apps_data_storage_path }}/downloads -> transmission downloads Torrents
  - name: "dev-tun"
    mountPath: "/dev/net/tun" # Needed for VPN

securityContext:
  capabilities: # Needed for VPN
    add:
      - NET_ADMIN
