# nextcloud.persistentvolume.yml
---
# Nextcloud data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "nextcloud-data"
  labels:
    type: "local"
spec:
  storageClassName: "manual"
  capacity:
    storage: "{{ NEXTCLOUD_DATA_STORAGE_SIZE }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ NEXTCLOUD_DATA_STORAGE_PATH }}"
