# nextcloud.values.yml

image:
  repository: nextcloud
  tag: "{{ NEXTCLOUD_VERSION }}"
  pullPolicy: IfNotPresent

nextcloud:
  host: "{{ NEXTCLOUD_HOST }}" # Host to reach NextCloud
  username: "{{ NEXTCLOUD_USERNAME }}" # Admin
  password: "{{ NEXTCLOUD_PASSWORD }}" # Admin Password


service:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.204
  port: 80

persistence:
  enabled: true # Change to true
  existingClaim: "nextcloud-data" # Persistent Volume Claim created earlier
  accessMode: ReadWriteOnce
  size: "{{ NEXTCLOUD_DATA_STORAGE_SIZE }}"
