# pihole.ingress.yml
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: pihole
  name: pihole-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: {{ PIHOLE_HOST }}
    http:
      paths:
        - path: /
          backend:
            serviceName: pihole-tcp
            servicePort: 80
---
