# pihole.values.yml

image:
  repository: "pihole/pihole"
  tag: {{ PIHOLE_VERSION }}
  pullPolicy: IfNotPresent

# Use an existing secret for the admin password.
admin:
  existingSecret: "pihole-secret" # Reference to the secret created step 2
  passwordKey: "password"

persistentVolumeClaim:
  # set to true to use pvc
  enabled: true # Change to true
  # set to true to use you own pvc
  existingClaim: "pihole-data" # Name of the persistent volume claim

extraEnvVars:
  TZ: "Europe/Paris" # Timezone
{% if USE_PIHOLE_DHCP %}
  ServerIP: {{ groups['master'][0] }} # Add the master node IP only if your configure `hostNetwork: true` (next paragraph, point b only)

serviceTCP:
  type: ClusterIP

serviceUDP:
  type: ClusterIP

hostNetwork: "true" # The pod uses the host network rather than k8s network (to perform a network broadcast on port 67 / DHCP) See  https://docs.pi-hole.net/docker/DHCP/#docker-pi-hole-with-host-networking-mode
privileged: "true" # Give root permission to the pod on the host
webHttp: "55080" # Random HTTP port to prevent clash (because the pod will be on the host network)
webHttps: "55443" # Random HTTPS port to prevent clash (because the pod will be on the host network)
{% else %}

serviceTCP:
  type: LoadBalancer # Configure MetalLB to used a dedicated "virtual" IP to expose the DNS server
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc

serviceUDP:
  type: LoadBalancer # Configure MetalLB to used a dedicated "virtual" IP to expose the DNS server
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
{% endif %}


