# pihole.persistentvolume.yml
---
# Pihole data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "pihole-data"
  labels:
    type: "local"
spec:
  storageClassName: "manual"
  capacity:
    storage: "{{ PIHOLE_DATA_STORAGE_SIZE }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ PIHOLE_DATA_STORAGE_PATH }}"
