# devtools.ingress.yaml
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: devtools
  name: devtools-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
#    cert-manager.io/cluster-issuer: "selfsigned-issuer"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
spec:
#  tls:
#  - hosts:
#    - "jenkins.{{ nginx_ingress_conroller.min }}.nip.io"
#    secretName: "jenkins-cert"
#  - hosts:
#    - "registry.{{ nginx_ingress_conroller.min }}.nip.io"
#    secretName: "registry-cert"
  rules:
    - host: "jenkins.{{ nginx_ingress_conroller.min }}.nip.io"
      http:
        paths:
          - path: /
            backend:
              serviceName: jenkins
              servicePort: 80
    - host: "registry.{{ nginx_ingress_conroller.min }}.nip.io"
      http:
        paths:
          - path: /
            backend:
              serviceName: registryui
              servicePort: 80
