---
# Services
apiVersion: v1
kind: Service
metadata:
  name: registryui
  namespace: devtools
  labels:
    app: registryui
    release: registryui
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ REGISTRYUI_IP }}"
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: registryui

---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: registryui
  labels:
    app: registryui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registryui
  template:
    metadata:
      labels:
        app: registryui
    spec:
      containers:
        - name: registryui
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: REGISTRY_TITLE
              value: "TriVe Docker Registry"
            - name: REGISTRY_URL
              value: "http://192.168.1.162:5000"
            - name: DELETE_IMAGES
              value: "true"
          image: "{{ REGISTRYUI_IMAGE }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: http-port
              containerPort: 80
              protocol: TCP
          resources: {}
      restartPolicy: Always
      serviceAccountName: ""
status: {}
