# devtools.persistentvolumeclaim.yml
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: devtools
  name: devtools-data
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ DEVTOOLS_DATA_STORAGE_SIZE }}"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: devtools
  name: devtools-config
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ DEVTOOLS_CONFIG_STORAGE_SIZE }}"
