---
# Services
apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: devtools
  labels:
    app: jenkins
    release: jenkins
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ JENKINS_IP }}"
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: jenkins

---
apiVersion: v1
kind: Service
metadata:
  name: jenkins-jnlp
  namespace: devtools
  labels:
    app: jenkins
    release: jenkins
spec:
  type: ClusterIP
  ports:
    - port: 50000
      targetPort: 50000
      protocol: TCP
  selector:
    app: jenkins

---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
#      imagePullSecrets:
#        - name: my-secret
      containers:
        - name: jenkins
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          image: "{{ JENKINS_IMAGE }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: http-port
              containerPort: 8080
              protocol: TCP
            - name: jnlp-port
              containerPort: 50000
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: jenkins-data
              mountPath: /var/jenkins_vol
              subPath: jenkins
            - name: jenkins-home
              mountPath: /var/jenkins_home
              subPath: jenkins
      restartPolicy: Always
      serviceAccountName: ""
      volumes:
        - name: jenkins-data
          persistentVolumeClaim:
            claimName: "devtools-data"
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: "devtools-config"
status: {}
