# devtools.persistentvolume.yml
---
# Dev Tools data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: devtools-data
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ DEVTOOLS_DATA_STORAGE_SIZE }}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ DEVTOOLS_DATA_STORAGE_PATH }}"

---
# Dev Tools config
apiVersion: v1
kind: PersistentVolume
metadata:
  name: devtools-config
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ DEVTOOLS_CONFIG_STORAGE_SIZE }}"
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "{{ DEVTOOLS_CONFIG_STORAGE_PATH }}"
